


<div class="row">
    <div class="col-lg-12">
        <br />
        <table class="table" width="100%">
            <tr>
                <td colspan="8" style="text-align: center; border-radius: 12px; font-size: 20px; background-color: #5cb85c; color:aliceblue">
                    ¡¡¡ El Registro del vuelo se Realizo correctamente !!!
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-info" CssClass="btn btn-info float-center mr-1" href="~/Home/Index">Volver a Consultar Vuelos </a>
                </td>
            </tr>
        </table>
    </div>
</div>
